/* Faire comme si la ligne entière d'une table était clickable
   (pour traitement par javascript ensuite) */
#liste_flux tr, #flux_container div p {
    cursor: pointer;
}

.ligne_flux_selectionne {
    font-weight: bold;
    background-color: #999;
}
.ligne_flux_selectionne:hover {
    background-color: #999;
}

/* Liste des articles */
#flux_container {
    margin-top: 2em;
}

#flux_container > div > p:first-child {
    font-weight: bold;
    border-bottom: 1px solid #DDD;
}

#flux_container div {
    margin-bottom: 1.5em;
    clear: both;
}

#div_dropdown_move_folder {
    margin-bottom: 1em;
    margin-top: 1em;
}

.article_properties {
    float: right;
}