body {
  
}
@font-face {
	font-family: 'Sansation_Regular';
	src: url('font_sansation/Sansation_Regular.ttf') format('truetype');
}
@font-face{
	font-family: 'Sansation_Bold';
	src: url('font_sansation/Sansation_Bold.ttf') format('truetype');
}
@font-face{
	font-family: 'Sansation_Bold_Italic';
	src: url('font_sansation/Sansation_Bold_Italic.ttf') format('truetype');
}
@font-face{
	font-family: 'Sansation_Italic';
	src: url('font_sansation/Sansation_Italic.ttf') format('truetype');
}
@font-face{
	font-family: 'Sansation_Light';
	src: url('font_sansation/Sansation_Light.ttf') format('truetype');
}
@font-face{
	font-family: 'Sansation_Light_Italic';
	src: url('font_sansation/Sansation_Light_Italic.ttf') format('truetype');
}

h1
{
	color: blue;
	font-size: 1.8em;
	font-family: Sansation_Bold, serif;
	
}

p
{
	color: blue;
	font-size: 1.2em;
	font-family: Sansation_Light_Italic, serif;
	text-indent: 2em;
}
table{
border: 5px inset orange;
box-shadow: 2px 2px 4px black;
}

th{
	color: blue;
	font-size: 1.5em;
	font-family: Sansation_Bold, serif;
}

td{
	color : red;
	font-size: 1.0em;
	font-family : Sansation_Light, serif ;
}

strong{
		color: blue;
		font-size: 1em;
		font-family: Sansation_Light_Italic, serif;
}

#formulaire
{
	margin-left: 10em;
}
